In [2]:
num = 19
name = 'atho'

In [5]:
print('My number is {} and my name is {}'.format(num,name))

My number is 19 and my name is atho

In [6]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 19 and my name is atho

In [7]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 19 and my name is atho, more 19

In [8]:
s = 'hello'

In [9]:
s[0]

'h'

In [10]:
s[4]

'o'

# String slicing by using index

In [11]:
s[0:]

'hello'

In [20]:
a = 'abcdefghijk'

In [21]:
a[0:]

'abcdefghijk'

In [17]:
a[:3]

'abc'

In [22]:
a[3:6]

'def'

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['a','b','c']

['a', 'b', 'c']

# *Append Method*

In [25]:
my_list = ['a','b','c']

In [26]:
my_list.append('d')

In [28]:
my_list

['a', 'b', 'c', 'd']

# list is also a same notation as the string
for each index point is seperated by 'comma'

In [29]:
my_list[0]

'a'

In [30]:
my_list[1:3]

['b', 'c']

In [31]:
my_list[0] = 'NEW'

In [32]:
my_list

['NEW', 'b', 'c', 'd']

# List inside of the list

In [33]:
nest = [1,2, [3,4]]

In [34]:
nest

[1, 2, [3, 4]]

In [35]:
nest[2]

[3, 4]

In [37]:
nest[2][1]

4

In [38]:
nest[2][0]

3

In [39]:
mess_list = [1,2,3,[4,5,['target']]]

In [40]:
mess_list[3]

[4, 5, ['target']]

# this is what you want to get

In [41]:
mess_list[3][2]

['target']

In [42]:
mess_list[3][2][0]

'target'

In [43]:
print(mess_list[3][2][0])

target

# Dictionaries
# is a 'key' to 'value' pairs

In [2]:
d = {'key1':'value','key2':123}

In [3]:
d

{'key1': 'value', 'key2': 123}

In [4]:
d['key1']

'value'

# You can not call it directly by using indexing
but you can call it by using *key*

In [5]:
d[0]

KeyError: 0

In [8]:
d[key2]

NameError: name 'key2' is not defined

In [10]:
d['key2']

123

# Dictionaries with the list inside

In [11]:
d = {'k1':[1,2,3]}

In [12]:
d

{'k1': [1, 2, 3]}

# now you can try the slicing index in dictionaries

In [13]:
d['k1'][0]

1

or you can rename it

In [14]:
my_list = d['k1']

In [15]:
my_list

[1, 2, 3]

now you can directly select or slice the list by using indexing :

In [16]:
my_list[0]

1

In [17]:
my_list[1]

2

# Dictionaries nested inside dictionaries

In [19]:
d = {'k1':{'value':[1,2,3]}}

Now try get the number 2

In [20]:
d['k1']

{'value': [1, 2, 3]}

In [21]:
d['k1']['value'][1]

2

# Boolean in Python

# Boolean in Python is quite simple, it only has *True* and *False*
# but remember the capitalization

In [22]:
True

True

In [23]:
False

False

# Tuples and List

In [24]:
my_list = [1,2,3]

In [25]:
my_list

[1, 2, 3]

In [26]:
t = (1,2,3)

In [27]:
t

(1, 2, 3)

In [28]:
my_list[0]

1

In [29]:
t[0]

1

In [30]:
t(0)

TypeError: 'tuple' object is not callable

In [34]:
my_list[0] = 'New'

In [32]:
my_list

['New', 2, 3]

In [35]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

# Tuple above does not support item assignment, it is immutable, and can not mutate

# Sets in Python
sets is a collection of unique element
it looks the same using curly brackets like in a dictionaries, and does not have a colons, just elements.

In [36]:
{1,2,3}

{1, 2, 3}

In [37]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

# You still have the same result because *SETS* is define by only unique element.

you can use the function and pass in the list to call the set and it will grab the unique element inside the list
# *return the set of the unique element of the list*

In [39]:
set([1,1,1,1,1,2,2,2,2,2,3,3,3,3,5,5,5,5,5,7,7,7,])

{1, 2, 3, 5, 7}

# Adding the items inside the set

In [41]:
s = {1,2,3,4}

In [43]:
s.add(5)

In [44]:
s

{1, 2, 3, 4, 5}

note if you add the same value inside the sets, it will not retrieve an error but it will retrieve the same
. cause it is only one unique element is allowed inside the set

In [45]:
s.add(5)

In [46]:
s

{1, 2, 3, 4, 5}

# Comparison Operators
comparison operators allow you to compare two elements to each other

In [55]:
#this will return the boolean value
1 > 2

False

In [50]:
1 < 2

True

In [51]:
1 <= 2

True

In [52]:
1 >= 2

False

In [53]:
1 == 1

True

In [54]:
1 == 2

False

In [57]:
# Checking the *not equal* sign

1 != 3

True

In [56]:
# If you do like this, this will return an error because Python thinks that you will do a variable assignment

1 = 1

SyntaxError: cannot assign to literal (<ipython-input-56-d8823df22b99>, line 3)

In [59]:
'hi' == 'bye'

False

In [60]:
'hi' != 'bye'

True

In [61]:
'hi' == 'hi'

True

# Logical Operators
# and , or
Combining Comparison Operator with Logical Operator

In [63]:
1 < 2 and 2 < 3

True

In [64]:
1 < 2 and 2 > 3

False

In [70]:
# 'or' operator, only one needs to be true 

1 < 2 or 2 < 3

True

In [66]:
1 < 2 or 2 > 3

True

In [71]:
1 > 2 or 2 > 3

False

In [68]:
# you can do it like this '()', so it will be more readable

(1 < 2) and (2 < 3)

True

In [69]:
(1 < 2) or (2 > 3)

True

In [72]:
True and True

True

In [73]:
True and False

False

In [74]:
True or False

True

In [75]:
True or True

True

# If, else, elif

In [76]:
# jika kondisi yang disertakan dalam if adalah 'True' maka kode akan berjalan
# jika kondisinya adalah 'False' maka kode tidak akan berjalan, atau akan dijalankan dengan 'else' atau 'elif'

if 1 < 2:
    print('yep!')

yep!

In [77]:
if 1 > 2:
    print('yep!')
else:
    print('try again the logic!')

try again the logic!

In [80]:
if 1 != 2:
    print('yep! now you got the logic.')
else:
    print('got them right!')

yep! now you got the logic.

In [82]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [84]:
#cara membaca

# jika kondisi 1 (if) benar'True', maka kode akan berjalan sesuai kondisi 1
if 1 == 2:
    print('first')
    
# jika kondisi 1 (if) salah'False', maka kode yang akan berjalan adalah kondisi 2(elif)
elif 3 == 3:
    print('middle')
    
#jika kondisi 1(if) dan 2(elif) salah'False, maka kode yang akan berjalan adalah kondisi 3(else) dan seterusnya
else:
    print('last')

middle

# *note that only the first condition which being true, is going to be executed!

In [85]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second

# for loop, while loop
 for loop allow you to iterate through a sequence

In [86]:
seq = [1,2,3,4,5]

In [88]:
for nama in seq:
    print(nama)
    
    
#'nama' di atas bisa dinamai apapun yang disukai

1
2
3
4
5

In [89]:
for apalagi in seq:
    print(apalagi)

1
2
3
4
5

In [93]:
#tapi karena list yang dimuat dalam variable 'seq' berupa nomor
#maka lebih baik disimpan sebagai variable nama 'num' untuk memanggilnya

for num in seq:
    print(num)
    
    
#menamai sesuai dengan list yang dimuat dalam variable akan memudahkan untuk
#mengingatnya

1
2
3
4
5

In [95]:
for num in seq:
    print('hello!')
    
# cara membacanya: untuk setiap element yang ada dalam variable 'seq'
# saya akan mempertunjukkan aksi print('hello!')

hello!
hello!
hello!
hello!
hello!

# while loop

In [99]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1
    
#jika kamu tidak memberikan 'limit', dalam hal ini 'i = i+1', maka
#while loop akan terus berjalan selamanya, dan nomor output akan terus berjalan
#untuk menghentikannya, bisa pergi ke tab 'kernel', dan pilih opsi 'restart'

i is: 1
i is: 2
i is: 3
i is: 4

In [101]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1
    
#cara membacanya: 1 adalah isi dari variable i
#jika i < 5, maka lakukan perintah di bawah 'print(xxxxxx)'
#variable i dibuat limit dari isi awal variable i, sampai dengan i yang paling
#mendekati angka 5, akan terus dilakukan perintah 'print(xxxxxx)'
#sampai dengan selesai dan mendekati 5

i is: 1
i is: 2
i is: 3
i is: 4

# range function

In [102]:
for x in seq:
    print(x)

1
2
3
4
5

In [103]:
[1,1,1,1,1,1,2,2,2,2,3,3,3,3,]

# you don't need to do this that much
# python has 'range function'

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

**range**

In [107]:
range(0,5)

# cara baca: range(nomor mulai, nomor berhenti)
#range adalah generator

range(0, 5)

In [106]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [109]:
# 'range' bisa juga dibuat menjadi 'list'

list(range(0,5))

#ini sangat mempercepat untuk mengeksekusi perintah dalam waktu yang singkat

[0, 1, 2, 3, 4]

In [110]:
list(range(10))

#list menggunakan index, dengan element di dalamnya

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# list comprehension
allows you to save a bunch of writing when you're trying to create for loop to create a list.

In [111]:
x = [1,2,3,4]

In [118]:
# membuat empty list'out'

out = []

for num in x:
    out.append(num**2)

In [119]:
print(out)

[1, 4, 9, 16]

In [120]:
# banyak digunakan di dalam Python
# ketika kamu menambahkan sebuah value dalam list secara berulang
# itu disebut List Comprehension

In [121]:
# sebenarnya bisa juga ditulis seperti ini
# List Comprehension sebenarnya mirip seperti for loop, tapi terbalik

[num**2 for num in x]

[1, 4, 9, 16]

In [126]:
# bisa juga ditulis seperti ini:

out = [num**2 for num in x]

#cara membacanya, berikan aku num kuadrat untuk num di dalam list x
# dan assign ke dalam variable 'out'

print(out)

[1, 4, 9, 16]

# Function
Function pada dasarnya membuatmu untuk tidak menulis code secara berulang-ulang
kamu bisa menulisnya di dalam *function* dan kemudian memanggilnya

In [131]:
# keyword untuk function adalah 'def'
# 'def' untuk mendefinisikan function yang akan dibuat

def my_func(param1):
    print(param1)
    
#'my_func' adalah nama yang bisa diganti sesuai keinginan
# lalu isikan dengan parameter yang kamu mau di dalam tanda kurung ()
# lalu isikan perintah yang akan dijalankan

In [132]:
#contoh:

my_func('hello')

#ini akan me-run parameter dan perintah yang ditugaskan di atasnya

hello

In [139]:
#contoh lain

def fungsiku(name):
    print('Hello '+name)

In [140]:
fungsiku('Atho')

Hello Atho

In [147]:
#penggunaan lainnya
def contoh_fungsi(name='Default Name'):
    print('Hello '+name)

In [148]:
contoh_fungsi()

#jika tidak ada isinya maka akan diisi sesuai dengan apa yang
#diset di dalam fungsi di atas

Hello Default Name

In [149]:
contoh_fungsi('Bota')

Hello Bota

In [152]:
#note:
# jika menuliskan 'contoh_fungsi()', maka akan me-run perintah defaultnya
# tapi jika hanya me-run 'contoh_fungsi' tanpa tanda kurung ()
#maka Python akan menanyai <function __main__.contohfungsi(name='Default Name')>


contoh_fungsi

#jika menjalankan yang diatas, akan muncul fungsi detail yang diprogram di awal
# jika menambah parenthesis atau tanda kurung (), maka akan menjalankan fungsi

# Print and Return

ketika hanya ingin mem-print statement yang mereturn value yang bisa kamu set it equal dengan variable lain

In [158]:
def square(num):
    return num**2

#return akan mengembalikan ke 'num' yang diisi dan akan menjalankan perintahnya

In [159]:
#kita bisa membuat variable yang diassign dengan variable lain

output = square(2)

In [160]:
#dan ketika memanggil variable yang sudah disandingkan, kita bisa mengecek
#bahwa variable 'output' memiliki return value yang sama seperti fungsi yang
#sudah didefinisikan di atas

output

4

In [156]:
square(9)

81

# Note!
Fungsi bisa memiliki documentation string

In [163]:
#dengan menambahkan sebuah set yang terdiri dari triple enclosing quotes
#kemudian trippling closing quotes
#lihat contoh
#ini membolehkan kita untuk meletakkan giant string over multiple lines
#ini biasa juga disebut sebagai DOCSTRING

def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

#hal di atas secara esensi hanya sebuah comment yang panjang, atau multi-baris comment

In [164]:
output = square(2)

In [165]:
output

4

In [166]:
# di sini coba ketikkan 'shift+tab' untuk mengetahui fungsi berikut

square

#akan muncul signature, docstring/docummentation, file and type

# Python Crash Course Part 4
Lambda expression, the map, filter functions, and various methods on different data types in Python

In [170]:
def times2(var):
    return var*2

In [171]:
times2(5)

10

# map()
# let's say you want to actually apply this function 'times2' to every single element in this list and then output the list#
you can use for loop, but: then 'map()' function is your answer.
map is a built in function in Python that allows you to save that step.

In [3]:
seq = [1,2,3,4,5]

In [174]:
map(times2,seq)

#this will report you back that you have a map at this particular place in memory

In [177]:
# if you want to execute this map and get the result back as a list
# you can cast this into a list by using the built in list function

list(map(times2,seq))

# we can finally return this function mapped to every elements in that sequence
# and return it as a list

[2, 4, 6, 8, 10]

In [180]:
# easier way to go about this without writing and define function like above

# this is where lamda expression comes into play!

# you can actually use the define function in one single line

def times2(var):return var*2

# this will work just fine

In [181]:
# a lambda expression will try to replicate this structure except it's going to 
# remove words that we don't need by default

# when you think about it, you don't need 'def' or 'return'
# because those are just given values of course in a function

In [182]:
# you can directly use lambda expression like below
# getting rid of the 'def' and the 'name' and 'return'

lambda var:var*2

In [183]:
# you can use it like this

t = lambda var:var*2

In [185]:
t(3)

6

**Kapan menggunakan Lambda Expression**

In [2]:
# when you will be using lamda expression is for something like map
# or instead of having to define an entire function
# just type lamda expression

seq = [3,4,5,6,7]

list(map(lambda num:num*3, seq))

[9, 12, 15, 18, 21]

# NOTE!
*you will start using lambda a lot when you are using Pandas library*

# Lambda is the way of rewriting an entire function into a single line of clean code.

###################################

# Filter Function

Filter will have a very similar structure to map.

but instead of mapping a function to every element in a sequence, we will filter out elements from a sequence

In [3]:
seq

[3, 4, 5, 6, 7]

**call filter and then pass in either a function or a lambda expression that filters out and returns boolean values.**

**FILTER di dalam LAMBDA menggunakan BOOLEAN VALUES**

In [189]:
filter(lambda num: num%2 == 0, seq)

In [191]:
# REMEMBER!
# for getting the result back, cast it to a list!

list(filter(lambda num: num%2 == 0, seq))

# whats happening here?
# 'filter' in this lambda expression takes in a number the 'num%2 == 0' and 
# returns a conditional true or false value based off some sort of conditional operation.

[4, 6]

# Methods
Methods are essentially just cause you can make off an object that will affect the object or return a result in some manner.

In [192]:
s = 'Hello my name is Atho!'

In [195]:
# try to use 'dot'+'tab', and it will get a result of all the available whip's tab
# scroll down to get the available methods for string object

s.lower

In [196]:
# remember that you need to close parentheses to actually execute the code

s.lower()

'hello my name is atho!'

In [197]:
s.upper()

'HELLO MY NAME IS ATHO!'

In [199]:
s.split()

#this will split on all the whitespace of that string.

# and this will be really useful for text analysis

['Hello', 'my', 'name', 'is', 'Atho!']

In [200]:
tweet = 'Go Sports! #Sports'

In [202]:
tweet.split()

# this will split the text into a list based off the whitespace

['Go', 'Sports!', '#Sports']

In [204]:
# pass in a string into split to split on particular elements or characters
# if I pass an hash tag and run this, it will split the string where is finds a hash tag
# meaning it'll have the message and then at the end have a hash tag.

tweet.split('#')

['Go Sports! ', 'Sports']

In [206]:
# and this will actualy return a list though we can then index.
# just grab the hash tag only

tweet.split('#')[1]

# this would be useful if you wanted to grab hash tag from some example tweet strings.

'Sports'

# Methods in Dictionaries

In [209]:
d = {'k1': 1, 'k2': 2}

In [210]:
d

{'k1': 1, 'k2': 2}

In [211]:
d.keys()

dict_keys(['k1', 'k2'])

In [212]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [214]:
d.values()

#keep in mind, the dictionaries don't retain an order

dict_values([1, 2])

In [229]:
lst = [1,2,3]

In [230]:
lst.pop()

# this will pop and return the last item in the list
# and then when you call list that change is permanent

3

In [231]:
lst

[1, 2]

In [237]:
lst = [1,2,3,4,5,6]

In [238]:
item = lst.pop()

# this means the 'item' is equal to 'lst.pop()'

In [239]:
lst

[1, 2, 3, 4, 5]

In [240]:
item

6

In [241]:
# you can actually pop off the list by index

first = lst.pop(0)

In [244]:
lst

#now you can see that the index '0' has been popped off

[2, 3, 4, 5]

In [245]:
# and our variable that one which was the first element

first

1

In [246]:
# pop and append are useful method

lst.append('Hahahah')

In [247]:
lst

[2, 3, 4, 5, 'Hahahah']

# in Operator

if you want to check if something is inside of a list, just say the thing you want to check and then 'in' and then the 'list' itself.

In [249]:
'x' in [1,2,3]

False

In [250]:
'x' in ['x','y','z']

True

# Tuple Unpacking

In [252]:
# a variable contain a tuple in a list

yayay = [(1,2),(3,4),(5,6)]

In [260]:
# you can see the first item in 'yayay' is a tuple of 1 and 2
# and you can actually grab items from that tuple
# you can grab one or you can grab two

yayay[0][1]

2

In [254]:
yayay[2][0]

5

In [268]:
# lets learn tuple unpacking by reviewing this for loop

for item in yayay:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [269]:
# this is the formal way to write tuple unpacking, by using parentheses

for (a,b) in yayay:
    print(a)

1
3
5

In [270]:
# tuple unpacking like below is like in the real world work

for a,b in yayay:
    print(a)

1
3
5

In [262]:
for a,b in yayay:
    print(b)

2
4
6

In [263]:
for a,b in yayay:
    print (a,b)

1 2
3 4
5 6

In [264]:
for a,b in yayay:
    print(a)
    print(b)

1
2
3
4
5
6

In [265]:
for c,d in yayay:
    print(d)
    print(c)

2
1
4
3
6
5

In [266]:
for a,b in yayay:
    print(b)
    print(a)

2
1
4
3
6
5